n8n/02_payment_callback.json
{
  "name": "BUS TZ PAWA — Payment Callback & Ticket Delivery",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "vapi/payment-callback",
        "responseMode": "responseNode",
        "options": { "rawBody": true }
      },
      "id": "wh-cb",
      "name": "Payment Callback Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "wh-payment-callback"
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto');\nconst headers = $input.first().json.headers || {};\nconst raw = $input.first().json.body;\nconst rawString = typeof raw === 'string' ? raw : JSON.stringify(raw);\nconst secret = $env.PAYMENT_GATEWAY_SECRET || '';\nconst sigHeader = headers['x-signature'] || headers['x-callback-signature'] || '';\nconst expected = secret ? crypto.createHmac('sha256', secret).update(rawString).digest('hex') : '';\nconst valid = !secret || sigHeader === expected;\nlet body = raw;\nif (typeof body === 'string') { try { body = JSON.parse(body); } catch(e) { body = {}; } }\nreturn [{ json: {\n  valid,\n  ref: body.reference || body.booking_ref,\n  status: (body.status || '').toUpperCase(),\n  txn_ref: body.transaction_id || body.txn_ref,\n  amount: body.amount,\n  provider: body.provider,\n  reason: body.failure_reason || body.message || null,\n  raw: body\n} }];"
      },
      "id": "verify",
      "name": "Verify HMAC",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "strict" },
          "conditions": [
            {
              "leftValue": "={{ $json.valid }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "true" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-valid",
      "name": "If Signature Valid",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": { "caseSensitive": true, "typeValidation": "strict" },
                "conditions": [
                  { "leftValue": "={{ $json.status }}", "rightValue": "SUCCESS", "operator": { "type": "string", "operation": "equals" } }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "success"
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "typeValidation": "strict" },
                "conditions": [
                  { "leftValue": "={{ $json.status }}", "rightValue": "INSUFFICIENT_FUNDS", "operator": { "type": "string", "operation": "equals" } }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "insufficient"
            }
          ]
        },
        "options": { "fallbackOutput": "extra", "renameFallbackOutput": "failed" }
      },
      "id": "switch-status",
      "name": "Switch Status",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [900, 240]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH upd AS (\n  UPDATE bookings SET status = 'CONFIRMED', paid_at = NOW(), payment_provider_ref = $2\n  WHERE ref = $1 AND status = 'HELD'\n  RETURNING id, seat_id, passenger_name, phone, trip_id, amount\n),\nseat_upd AS (\n  UPDATE seats SET status = 'CONFIRMED' WHERE id = (SELECT seat_id FROM upd) RETURNING id\n),\npay AS (\n  INSERT INTO payments (booking_ref, provider, txn_ref, amount, status, raw_callback)\n  VALUES ($1, $3, $2, $4, 'SUCCESS', $5::jsonb)\n  ON CONFLICT (txn_ref) DO NOTHING\n  RETURNING id\n)\nSELECT b.ref, b.passenger_name, b.phone, b.amount, t.departure_at, r.origin, r.destination, s.seat_number, bs.plate, bs.class\nFROM upd u\nJOIN bookings b ON b.id = u.id\nJOIN trips t ON t.id = b.trip_id\nJOIN routes r ON r.id = t.route_id\nJOIN seats s ON s.id = b.seat_id\nLEFT JOIN buses bs ON bs.id = t.bus_id;",
        "options": {
          "queryReplacement": "={{ $json.ref }},={{ $json.txn_ref }},={{ $json.provider }},={{ $json.amount }},={{ JSON.stringify($json.raw) }}"
        }
      },
      "id": "db-confirm",
      "name": "DB Confirm Booking",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1120, 100],
      "credentials": {
        "postgres": { "id": "REPLACE_PG_CREDENTIAL_ID", "name": "Postgres BUS TZ PAWA" }
      }
    },
    {
      "parameters": {
        "jsCode": "const r = $input.first().json;\nif (!r || !r.ref) return [{ json: { skip: true } }];\nconst dep = new Date(r.departure_at);\nconst dateStr = dep.toLocaleDateString('sw-TZ');\nconst hh = String(dep.getHours()).padStart(2,'0');\nconst mm = String(dep.getMinutes()).padStart(2,'0');\nconst sms = `Bus TZ PAWA — Tiketi yako: ${r.ref}\\nJina: ${r.passenger_name}\\nSafari: ${r.origin} -> ${r.destination}\\nTarehe: ${dateStr} saa ${hh}:${mm}\\nKiti: ${r.seat_number}\\nBasi: ${r.plate || 'TBD'} (${r.class || 'standard'})\\nMalipo: TZS ${Number(r.amount).toLocaleString()} - YAMEKAMILIKA\\nFika eneo la kupanda dakika 30 kabla. Safari njema!`;\nreturn [{ json: { phone: r.phone, message: sms, ref: r.ref } }];"
      },
      "id": "build-ticket",
      "name": "Build Ticket SMS",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 100]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.africastalking.com/version1/messaging",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apiKey", "value": "={{ $env.AT_API_KEY }}" },
            { "name": "Content-Type", "value": "application/x-www-form-urlencoded" },
            { "name": "Accept", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            { "name": "username", "value": "={{ $env.AT_USERNAME }}" },
            { "name": "to", "value": "={{ $json.phone.startsWith('+') ? $json.phone : '+255' + $json.phone.replace(/^0/, '') }}" },
            { "name": "message", "value": "={{ $json.message }}" },
            { "name": "from", "value": "={{ $env.AT_SENDER_ID }}" }
          ]
        },
        "options": { "ignoreHttpStatusErrors": true }
      },
      "id": "send-sms",
      "name": "Send Ticket SMS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1560, 100]
    },
    {
      "parameters": {
        "jsCode": "const b = $('DB Confirm Booking').first().json;\nif (!b || !b.ref) return [{ json: { skip: true } }];\n\nconst amount = Number(b.amount);\nconst dep = new Date(b.departure_at);\nconst dateStr = dep.toLocaleDateString('sw-TZ');\nconst hh = String(dep.getHours()).padStart(2,'0');\nconst mm = String(dep.getMinutes()).padStart(2,'0');\nconst paidAt = new Date().toLocaleString('en-TZ', { timeZone: 'Africa/Dar_es_Salaam' });\n\nconst email_html = `<!DOCTYPE html>\n<html><body style=\"font-family:sans-serif;max-width:600px;margin:0 auto;\">\n<h2 style=\"color:#1a5c2a;\">BUS TZ PAWA — New Payment Received</h2>\n<table border=\"1\" cellpadding=\"10\" cellspacing=\"0\" style=\"border-collapse:collapse;width:100%;\">\n  <tr style=\"background:#f0f0f0;\"><td><strong>Booking Ref</strong></td><td>${b.ref}</td></tr>\n  <tr><td><strong>Passenger</strong></td><td>${b.passenger_name}</td></tr>\n  <tr style=\"background:#f0f0f0;\"><td><strong>Phone</strong></td><td>${b.phone}</td></tr>\n  <tr><td><strong>Route</strong></td><td>${b.origin} &rarr; ${b.destination}</td></tr>\n  <tr style=\"background:#f0f0f0;\"><td><strong>Departure</strong></td><td>${dateStr} ${hh}:${mm}</td></tr>\n  <tr><td><strong>Seat</strong></td><td>${b.seat_number}</td></tr>\n  <tr style=\"background:#f0f0f0;\"><td><strong>Bus</strong></td><td>${b.plate || 'TBD'} (${b.class || 'standard'})</td></tr>\n  <tr style=\"background:#d4edda;\"><td><strong>Total Amount Paid</strong></td><td><strong style=\"font-size:1.2em;\">TZS ${amount.toLocaleString()}</strong></td></tr>\n  <tr><td><strong>Paid At</strong></td><td>${paidAt}</td></tr>\n</table>\n<p style=\"color:#1a5c2a;font-weight:bold;\">Payment confirmed successfully.</p>\n</body></html>`;\n\nreturn [{\n  json: {\n    ref: b.ref,\n    total_amount: amount,\n    total_amount_formatted: `TZS ${amount.toLocaleString()}`,\n    email_subject: `[BUS TZ PAWA] Payment Confirmed: ${b.ref} — TZS ${amount.toLocaleString()}`,\n    email_html\n  }\n}];"
      },
      "id": "calc-total",
      "name": "Calculate Payment Total",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1780, 100]
    },
    {
      "parameters": {
        "fromEmail": "={{ $env.MANAGER_FROM_EMAIL }}",
        "toEmail": "={{ $env.MANAGER_EMAILS }}",
        "subject": "={{ $json.email_subject }}",
        "emailType": "html",
        "html": "={{ $json.email_html }}",
        "options": {}
      },
      "id": "email-managers",
      "name": "Email Managers",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [2000, 100],
      "credentials": {
        "smtp": { "id": "REPLACE_SMTP_CREDENTIAL_ID", "name": "SMTP BUS TZ PAWA" }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO payments (booking_ref, provider, txn_ref, amount, status, raw_callback)\nVALUES ($1, $3, $2, $4, 'INSUFFICIENT_FUNDS', $5::jsonb)\nON CONFLICT (txn_ref) DO NOTHING\nRETURNING id;",
        "options": {
          "queryReplacement": "={{ $json.ref }},={{ $json.txn_ref }},={{ $json.provider }},={{ $json.amount }},={{ JSON.stringify($json.raw) }}"
        }
      },
      "id": "db-insufficient",
      "name": "DB Log Insufficient",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1120, 300],
      "credentials": {
        "postgres": { "id": "REPLACE_PG_CREDENTIAL_ID", "name": "Postgres BUS TZ PAWA" }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO payments (booking_ref, provider, txn_ref, amount, status, raw_callback)\nVALUES ($1, $3, $2, $4, 'FAILED', $5::jsonb)\nON CONFLICT (txn_ref) DO NOTHING\nRETURNING id;",
        "options": {
          "queryReplacement": "={{ $json.ref }},={{ $json.txn_ref }},={{ $json.provider }},={{ $json.amount }},={{ JSON.stringify($json.raw) }}"
        }
      },
      "id": "db-failed",
      "name": "DB Log Failed",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1120, 500],
      "credentials": {
        "postgres": { "id": "REPLACE_PG_CREDENTIAL_ID", "name": "Postgres BUS TZ PAWA" }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: true } }}",
        "options": {}
      },
      "id": "resp-cb",
      "name": "Acknowledge Provider",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2220, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseCode": 401,
        "responseBody": "={{ { ok: false, reason: 'invalid signature' } }}",
        "options": {}
      },
      "id": "resp-bad",
      "name": "Reject Bad Signature",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [900, 460]
    }
  ],
  "connections": {
    "Payment Callback Webhook": { "main": [[{ "node": "Verify HMAC", "type": "main", "index": 0 }]] },
    "Verify HMAC":              { "main": [[{ "node": "If Signature Valid", "type": "main", "index": 0 }]] },
    "If Signature Valid":       { "main": [
      [{ "node": "Switch Status", "type": "main", "index": 0 }],
      [{ "node": "Reject Bad Signature", "type": "main", "index": 0 }]
    ] },
    "Switch Status": { "main": [
      [{ "node": "DB Confirm Booking", "type": "main", "index": 0 }],
      [{ "node": "DB Log Insufficient", "type": "main", "index": 0 }],
      [{ "node": "DB Log Failed", "type": "main", "index": 0 }]
    ] },
    "DB Confirm Booking":      { "main": [[{ "node": "Build Ticket SMS", "type": "main", "index": 0 }]] },
    "Build Ticket SMS":        { "main": [[{ "node": "Send Ticket SMS", "type": "main", "index": 0 }]] },
    "Send Ticket SMS":         { "main": [[{ "node": "Calculate Payment Total", "type": "main", "index": 0 }]] },
    "Calculate Payment Total": { "main": [[{ "node": "Email Managers", "type": "main", "index": 0 }]] },
    "Email Managers":          { "main": [[{ "node": "Acknowledge Provider", "type": "main", "index": 0 }]] },
    "DB Log Insufficient":     { "main": [[{ "node": "Acknowledge Provider", "type": "main", "index": 0 }]] },
    "DB Log Failed":           { "main": [[{ "node": "Acknowledge Provider", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "tags": []
}
